{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">User Profile</div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th scope="row">Photo</th>
                                <td>
                                    <img src="{{ user.photo.url }}" alt="User Photo" style="max-width: 150px;">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">First Name</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Birth Date</th>
                                <td>{{ user.birth_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Staff</th>
                                <td>{{ user.is_staff|yesno:"✔,❌" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Active</th>
                                <td>{{ user.is_active|yesno:"✔,❌" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Age</th>
                                {% if user.birth_date %}
                                    <td>{{ user.age }}</td>
                                {% else %}
                                    <td>Empty</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th scope="row">Phone Number</th>
                                <td>{{ user.phone_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td>{{ user.location }}</td>
                            </tr>
                            <tr>
                                <th scope="row">User Type</th>
                                <td>{{ user.user_type }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Gender</th>
                                <td>{{ user.sex }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="{% url 'core:update_user_profile' user.pk %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
