{% extends 'index.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        <table class="table table-hover table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Grade</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Age</th>
                <th scope="col">Resume</th>
                <th scope="col">Group Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <img src="{{ student.photo.url }}" alt="Student Photo" style="max-width: 100px;">
                </td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.grade }}</td>
                {% if student.birth_date %}
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Unknown</td>
                    <td>Unknown</td>
                {% endif %}
                <td>
                    {% if student.resume %}
                        <a href="{{ student.resume.url }}">{{ student.resume }}</a>
                    {% else %}
                        Empty
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'groups:get_group_details' student.group.pk %}">{{ student.group.name }}</a>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Delete">
    </form>
{% endblock content %}