{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-auto">
            <form class="d-flex" method="GET" action="{% url 'students:get_students' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Age</th>
            <th scope="col">Resume</th>
            <th scope="col">Group Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <img src="{{ student.photo.url }}" alt="Student Photo" style="max-width: 100px;">
                </td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.grade }}</td>
                {% if student.birth_date %}
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Unknown</td>
                    <td>Unknown</td>
                {% endif %}
                <td>
                    {% if student.resume %}
                        <a href="{{ student.resume.url }}">{{ student.resume }}</a>
                    {% else %}
                        Empty
                    {% endif %}
                </td>
                <td>
                    {% if student.group %}
                        <a href="{% url 'groups:get_group_details' student.group.pk %}">{{ student.group.name }}</a>
                    {% else %}
                        No Group
                    {% endif %}
                </td>
                <td>
                    <a type="button" class="btn btn-warning"
                       href={% url 'students:update_student' student.uuid %}>Edit
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger"
                       href={% url 'students:delete_student' student.uuid %}>Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}