<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body class="background-image">
    <h1>404 - Page Not Found</h1>
    <p>The page you requested does not exist.</p>
    <a href="{% url 'index' %}">Go to Home Page</a>
</body>
</html>
