{% extends 'index.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Photo</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Age</th>
            <th>Degree</th>
            <th>Rating</th>
            <th>Phone Number</th>
            <th>Group Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="{{ teacher.photo.url }}" alt="Teacher Photo" style="max-width: 100px;">
            </td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            {% if teacher.birth_date %}
                <td>{{ teacher.birth_date }}</td>
                <td>{{ teacher.age }}</td>
            {% else %}
                <td>Unknown</td>
                <td>Unknown</td>
            {% endif %}
            <td>{{ teacher.degree }}</td>
            <td>{{ teacher.rating }}</td>
            <td>{{ teacher.phone_number }}</td>
            <td>
                {% for group in teacher.group.all %}
                    <a href="{% url 'groups:get_group_details' group.pk %}">{{ group.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% empty %}
                    Empty
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock content %}