{% extends 'index.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        <table class="table table-hover table-dark table-striped">
            <thead>
            <tr>
                <th>Group Name</th>
                <th>Group Rating</th>
                <th>Group Description</th>
                <th>Number of Lessons</th>
                <th>Expected End Date</th>
                <th>Number of students</th>
                <th>Teacher First and Second Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.rating }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.number_of_lessons }}</td>
                <td>{{ group.expected_end_date }}</td>
                <td>{{ group.student.count }}</td>
                <td>
                    {% for teacher in group.teacher.all %}
                        <a href="{% url 'teachers:get_teacher_details' teacher.uuid %}">
                            {{ teacher.first_name }} {{ teacher.last_name }}
                            {% if not forloop.last %}, {% endif %}
                        </a>
                    {% empty %}
                        Empty
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Delete">
    </form>
{% endblock content %}