{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-auto">
            <form class="d-flex" method="GET" action="{% url 'groups:get_groups' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th>Group Name</th>
            <th>Group Rating</th>
            <th>Group Description</th>
            <th>Number of Lessons</th>
            <th>Expected End Date</th>
            <th>Number of students</th>
            <th>Teacher First and Second Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.rating }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.number_of_lessons }}</td>
                <td>{{ group.expected_end_date }}</td>
                <td>{{ group.student_count }}</td>
                <td>
                    {% for teacher in group.teacher.all %}
                        <a href="{% url 'teachers:get_teacher_details' teacher.uuid %}">
                            {{ teacher.first_name }} {{ teacher.last_name }}
                            {% if not forloop.last %}, {% endif %}
                        </a>
                    {% empty %}
                        Empty
                    {% endfor %}
                </td>

                <td>
                    <a type="button" class="btn btn-warning"
                       href={% url 'groups:update_group' group.pk %}>Edit
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger"
                       href={% url 'groups:delete_group' group.pk %}>Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
